

    <div class="row w-100" >
        <button class="fa fa-caret-right w-100" aria-hidden="true" style="text-align: left">   drafts </button>
    </div>
    
    <div class="row" >
        <button class="fa fa-caret-right w-100" aria-hidden="true" style="text-align: left" >   sent </button>
    </div>
    
    <div class="row" >
        <button class="fa fa-flag w-100" aria-hidden="true" style="text-align: left" >   spam </button>
    </div>
    
    <div class="row" >
        <button class="fa fa-trash w-100" aria-hidden="true" style="text-align: left" >   trash </button>
    </div>
    
    
    