div{
    margin:0 0;
    padding: 0 0;
}





.fa-caret-right{
    font-size: 25px;
}


.fa-flag{
    font-size: 25px;
}


.fa-trash{
    font-size: 25px;

}

.fa{
    border: 2px solid rgb(99, 99, 99); 
    background-color: rgb(99, 99, 99);
}