<div class="row d-flex align-items-center justify-content-center" style=" height: 10%; ">
        <a routerLink= "/Email" ><button id = "boton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"> new inbox</button></a>
</div>



<div class="row" style=" height: 30%; ">
    

    <div class="col " >

        <div class="row "  >
          <button class="fa fa-caret-square-o-down w-100" (click)="goo()" aria-hidden="true" style="text-align: left; border: 2px solid rgb(99, 99, 99); background-color: rgb(99, 99, 99)">  inbox </button>
        </div>
       



        <app-inbox id = "redd" 
            style= "
            margin:0 0;
            padding: 0 0; 
            display: none;
            "></app-inbox>

    </div>


</div>