// .col{
//     margin: 0 0;
//     padding: 0 0;
  
// }

#tron{
    margin: 0 0;
    padding: 0 0;

}

    .container-fluid{
        margin: 0 0;
        padding: 0 0;
    

    }

    div{
        margin:0 0;
        padding: 0 0;
    }

    img.tron{
        width: 80px;
        height: 80px;
        border-radius: 50%; 
    }

    #boton{
        width: 570px;
        height: 50px;
        background-color: rgb(0, 90, 117);
        border: 2px solid rgb(0, 90, 117);
        box-shadow: 2px 2px rgb(1, 69, 90);
        margin: 10px;
        border-radius: 10px;
        color: white;
    }

    .glossyBtn
{
    margin-left:10px;
    background-image:url('https://image.flaticon.com/icons/svg/751/751463.svg');
    background-repeat:no-repeat;
    background-position:left top;  
    padding-left:20px;
}

.fa {
    margin: 2px;
}


.fa-caret-left{font-size: 20px}
.fa-backward{font-size: 17px}
.fa-caret-right{font-size: 20px}
.fa-times{font-size: 17px}

#inbox{
    width: 440px
}

p{
    padding: 0;
    margin: 0;
}

#questions{
    margin: 5px;
}

.fa-caret-square-o-down{
    font-size: 25px;
}

.colr{
   background-color: rgb(61, 61, 61); 
   border: rgb(61, 61, 61);
}
 
.hello{
    color: white;
}