<div class="container-fluid" style="height: 100vh; display: fixed">

  
        <div class="row" style=" height: 100%; display: fixed;">
      
          <div class="col-4 " style=" background-color: rgb(73, 73, 73); display: fixed;  ">
               
      
    
    
                  
                <div class="row" id = "tron" style=" height: 15%;  display: fixed;" >
                  
                  <div class="container-fluid" style=" background-color: rgb(99, 99, 99); ">
                  
                      <div class="row" style=" height: 100%;">
                      
    
                          <div class="col-3 d-flex align-items-center justify-content-center" >
                              <p></p>
                              <img class="tron"src="https://i.imgur.com/WybxO5n.jpg" >
                          </div>
    
                          <div class="col-9 d-flex align-items-center justify-content-center" style=" ">
                            <div><h1 style = "font-size: 20px; display: block; text-align: center;" > Big Chungus</h1>  
                            <p class=" hello" >bigChungus33333@aol.com</p></div>
                          </div>
    
    
                      
                      </div>
                  
                  </div>
   
    
                </div>
    
    
          <div class = "sectionn" >
            
              <!-- <app-profile-menu></app-profile-menu> -->
              <router-outlet>  </router-outlet>

    
          </div>


          </div>
    
    
    
          <div class="col-8 h-100" style=" margin: 0; padding: 0; ">
    
              <div class="center row" style="   height: 5%;  margin: 0 0; padding: 0 0; background-color: rgb(61, 61, 61)">
                    
    
                <div class="col " style="  margin: 0; padding: 0; display: flex; justify-content: center; border: 2px slolid green;">
    
                    <!-- <input class="glossyBtn" style=" border-radius: 10px; width: 50%; background-color: rgb(122, 122, 122); border: rgb(122, 122, 122); margin: 4px;" > -->
                    <div class = "rooglee">    
                            <a routerLink= "/Home2"><img  src="assets/image/roogle.png" alt="picture" ></a>
                    </div>
                    <!-- icons on top right corner -->
                    

                </div> 
    
                <a routerLink= "/"><p class = "logout">Log Out</p></a>
    
              </div>
    
    
              <div class= "row overflow-auto " style = " height: 95%; display: fixed; background-color: rgb(37, 40, 49);" > 
              
              <div>
              <app-comment 
              [message]="email" (messageEvent) = receiveMessage($event)> 
              </app-comment>
              </div>  
    
    
    
              </div>
    
      
          </div>
        
        </div>
      
     
    
      
    
    
    
    
      </div>
    
    
    
    